
body {
    margin-left: 12.5%;
    margin-right: 12.5%;
    /* background-color: #2c3539; */
    background: radial-gradient(#003, #000);
    color: rgba(255, 255,255, 0.98);

}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    padding: 2em;
    color: #e0c585;    
}
thead {
    border: 2px solid #e0c585;
    /* background-color: #1d2c3b; */
}


table{
    border: 2px solid #e0c585;
}

tbody tr:nth-child(odd) {
    background: #DCA;
    color:#000;
}


td {
    height: 6em;
    text-align: center;
}

.code {
    padding: 1em;
    border: 3px solid #e0c585;
    background-color: #313B40;
    font-size: 1.5em;
    
}
pre{
    white-space: pre-wrap; 
}

.nav_menu{
    text-align: center;
    
}
.nav_menu a, .nav_menu p{
    text-decoration: none;
    font-size: 1.4em;
    color: #e0c585;
    font-family: Arial, Helvetica, sans-serif
}

.nav_menu{
    text-decoration: none;
    font-size: 1.4em;
    color: #e0c585;
    font-family: Arial, Helvetica, sans-serif
}

.nav_menu a:hover{
    text-decoration: none;
    font-size: 1.4em;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif
}


.nav_menu{
    border: 2px solid #e0c585;
    padding: 0.5em;
    /* here */
}



h1{
    text-align: center;
    padding: 0.8em;
    font-size: 3.5em;
    color: #e7d6b4;
}


h2{
    padding: 1px;
    font-size: 2em;
    color: #e7d6b4;
}

p{
    font-size: 1.5em;
}
li{ 
    font-size: 1.5em;
}

footer{
    text-align: center;
}

hr {
    height: 2px;
    color: #584321;
    background-color: #584321;
    border: none;
}

a{
    color: #e0c585;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

a:hover{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

th{
    font-size: 1.8em;
}
td{
    font-size: 1.5em;
}