

@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../fonts/Segoe UI Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../fonts/Segoe UI Bold Italic.woff') format('woff');
    }



body {
    margin-left: 12.5%;
    margin-right: 12.5%;
    background-color: #15202b;
    color: rgba(255, 255,255, 0.98);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 2em;
}
thead {
    border: 2px solid #e0c585;
}
table{
    border: 2px solid #e0c585;
}

tbody tr:nth-child(even) {
    background: #CCC;
    color:#15202b;
}

h1 {
    text-align: center;
}

td {
    height: 6em;
    text-align: center;
}

.code {
    padding: 1em;
    border: 3px solid #e0c585;
    background-color: #1d2c3b;
    font-size: 1.5em;
}

.nav_menu{
    text-align: center;
    
}
.nav_menu a, .nav_menu p{
    text-decoration: none;
    font-size: 1.5em;
    color: #e0c585;
    font-family: Arial, Helvetica, sans-serif
}

.nav_menu{
    text-decoration: none;
    font-size: 1.5em;
    color: #e0c585;
    font-family: Arial, Helvetica, sans-serif
}


h1{
    padding: 0.8em;
    font-size: 3.5em;
    color: #e7d6b4;
}


h2{
    padding: 1px;
    font-size: 2em;
    color: #e7d6b4;
}

p{
    font-size: 1.5em;
}
li{ 
    font-size: 1.5em;
}

footer{
    text-align: center;
}

hr {
    height: 2px;
    color: #584321;
    background-color: #584321;
    border: none;
}
a{
    color: #e0c585;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

tbody tr:nth-child(even) a{
    background: #CCC;
    color:#15202b;
}