
@font-face {
    font-family: helv;
    src: url(../fonts/helvetica-neue.ttf);
  }


body{
    margin: 0 auto;
    background: radial-gradient(#003, #000);
    color: rgba(255, 255,255,1);
    /* text-align:center; */
    font-family: 'Times New Roman', Times, serif;
    width: 60%;
}

h1{
    text-align: center;
    padding: 1em;
    font-size: 2.5em;
    color: #e7d6b4;
}

h2{
    padding: 0.5px;
    font-size: 2em;
    color: #e7d6b4;
    text-align: center;
    /* width: 60%; */
}



.nav_menu{
    /* width: 60%; */
    margin: 0 auto;
    text-align: center;
    color: #e0c585;
    border: 0.1em solid #e0c585;
    /* padding: 0.5em; */
    height: 5.5em;
    /* font-size: 1em;
    font-family: Arial, Helvetica, sans-serif; */
}

.nav_menu a{
    text-decoration: none;
    font-size: 1.1em;
    color: #e0c585;
    font-family: Arial, Helvetica, sans-serif;

}

.nav_menu a:hover{
    color: #FFF;
}

.table table{
    /* width: 60%; */
    border: 2px solid #e0c585;
    margin: 1em auto;
    border-collapse: collapse;
    min-width: 100%;
}

.table thead{
    
    border: 2px solid #e0c585;
}

.table thead th{
    padding: 1em;
    text-align: left;
}

.table tbody td{
    padding: 2em;
    
}

.table tbody tr:nth-child(odd) {
    background: rgb(250, 235, 201);
    color:#000;
}

.table tbody tr:nth-child(odd) a{
    color:#000;
    text-decoration: none;
}

.table tbody tr a{
    color: #fff;
    text-decoration: none;
}

.def, .code{
    /* width: 60%; */
    margin: 0 auto;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
  }

.code{
    background-color: rgb(250, 235, 201);
    border: 1px solid rgb(109, 104, 104);
    outline: 2px solid #e0c585;
    color: black;
    font-size: 1.2em;
    padding: 0.1em;
    font-family: monospace;
}

hr {
    height: 1px;
    color: #e0c585;
    background-color: #e0c585;
    border: none;
}
footer{
    text-align: center;
    font-size: 1em;
}